// nav.php
nav {
    margin-bottom: 10px;
}

.logo {
    width: 160px;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    overflow: hidden;
}

.logo:hover {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}

.nav_img {
    height: 250px;
    background-image: url('img/bg2s.jpg');
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    text-align: right;
}

// index.php
body,
html {
    height: 100%;
}

form {
    width: 55%;
    margin-left: 5%;
}

.bg {
    background-image: url("img/background2.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// home.php
.jumbotron {
    color: #fdfdfb;
    background-image: linear-gradient(to left bottom, #d48c00, #98ae2f, #50c37a, #00cfc4, #31d2f7);
}

// cars_list.php
.cars_card {
    width: 19rem;
    margin-left: 4%;
    margin-bottom: 10px;
}

.img {
    position: relative;
    float: left;
    width: 19rem;
    height: 170px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: none;
}

img:hover {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .3s ease-in-out;
}

.listToggle {
    display: none;
}

.btn {
    margin-bottom: 10px;
}

// office_list.php
#map-location {
    width: 100%;
    height: 500px;
    float: right;
}

.loc_list {
    width: 90%;
}

// filter
.btn-back {
    margin-top: 20px;
    margin-bottom: 30px;
}

// cars_locations.php
.select {
    position: relative;
    // display: inline-block;
    margin-bottom: 15px;
    width: 100%;
}

.select select {
    font-family: 'Arial';
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 9px 12px;
    outline: 0;
    border: 2px solid #04cec1;
    border-radius: 8px;
    background: #343a40;
    color: #ffffff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    color: #e5e5e5;
    background: #45484b;
}

.select select:disabled {
    opacity: 0.3;
    pointer-events: none;
}

.select_arrow {
    position: absolute;
    top: 10px;
    right: 19px;
    width: 17px;
    height: 17px;
    border: solid #04cec1;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.select select:hover~.select_arrow,
.select select:focus~.select_arrow {
    border-color: #00aca1;
}

.select select:disabled~.select_arrow {
    border-top-color: #77e9e1;
}

.select input {
    position: inline;
}

.btn-color {
    width: 100%;
    color: #252a2e;
    background-color: #00aca1;
}